body {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0000bb;
	color: white
	
}

.game {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.button-row__button {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: white;
	background-color: #333333;
	border: 2px #272727 solid;
}

.game__result,
.game__score-title {
	margin: 10px 0;
}
